.hero {
    position: relative;
    height: 80vh;
    background: url("/public/hero-image.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .hero-content {
    position: relative;
    color: white;
  }
  
  .hero-content h1 {
    font-size: 48px;
  }
  
  .hero-content p {
    margin-top: 3%;
    display: flex;
    justify-self: center;

  }
  
  .hero-content button {
    margin-top: 20px;
  }
  

